
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.form-container {
    margin-top: 100px;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ec8524;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.438);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 5px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.form-group input[type="file"] {
    padding: 3px; /* Ajuste o padding para o input file */
}

.form-group button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ec8524;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    line-height: inherit;
    transition: background-color 0.3s ease; /* Transição suave na cor de fundo */
}

.form-group button:hover {
    background-color: #03080e;
}

#msgError{
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
  }
  
  #msgSuccess{
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
  }